<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    </head>

    <body>
        <div id="container">
            <header>
                {% block header %}<h1>Burt's Books</h1>{% end %}
            </header>
            <div id="main">
                <div id="content">
                    {% block body %}{% end %}
                </div>
            </div>
            <footer>
                {% block footer %}
                    <p>
For more information about our selection, hours or events, please email us at
<a href="mailto:contact@burtsbooks.com">contact@burtsbooks.com</a>.
                    </p>
                {% end %}
            </footer>
        </div>
        <script src="{{ static_url('js/script.js') }}"></script>
    </body>
</html>