<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Poem Maker Pro</title>
    </head>


    <body>
        <h1>Your poem</h1>
        <p>
            Two {{roads}} diverged in a {{wood}}, an I&mdash;<br>
            I took the one less travelled by,<br>
            And that has {{made}} all the {{difference}}.
        </p>
    </body>
</html>